<!-- <div style="height: 350px;">
  <div class="container text-left" style="background-color:#dce5e2; border-color:#dce5e2 ;">
      <h4 style="font-family: Arial, Helvetica, sans-serif;color:#474747">Machine Parameters</h4>      
  </div>
  <div>      
      <br/>
      <div style="text-align:center;">
          <input  style="background-color:white;font-family: Arial, Helvetica, sans-serif;border:1px solid #434343;color:#434343;cursor:pointer;font-weight: bold;width: 130px;" type="button" class="btn" (click)="ShowReportParameters()" value = "Production(Tons)">
      </div>         
      
  </div>
<br>
</div> -->

<div style="height: 470px;">
  <div class="container text-center" style="background-color:#dce5e2; border-color:#dce5e2 ;">
    <h4 style="font-family: Arial, Helvetica, sans-serif;color:#474747">Reports</h4>      
  </div><br/>
      <div class="row" style="text-align:center;">
        <br>
        <div class="col-xs-6 col-md-3" >
            <input  style="background-color:white;font-family: Arial, Helvetica, sans-serif;border:1px solid #434343;color:#434343;cursor:pointer;font-weight: bold;width: 130px;" type="submit" class="btn" (click)="ShowReportParameters()" value = "Production">
          </div>
          <div class="col-xs-6 col-md-3">
              <input  style="background-color:white;font-family: Arial, Helvetica, sans-serif;border:1px solid #434343;color:#434343;cursor:pointer;font-weight: bold;width: 130px;" type="submit" class="btn"  (click)="ShowReportParameters()" value = "Machine Hours">
            </div>
            <br><br><br>
            <div class="col-xs-6 col-md-3">
                <input  style="background-color:white;font-family: Arial, Helvetica, sans-serif;border:1px solid #434343;color:#434343;cursor:pointer;font-weight: bold;width: 130px;" type="submit" class="btn"  (click)="ShowReportParameters()" value = "Prodcuctivity">
              </div>
              
              <div class="col-xs-6 col-md-3">
                  <input  style="background-color:white;font-family: Arial, Helvetica, sans-serif;border:1px solid #434343;color:#434343;cursor:pointer;font-weight: bold;width: 130px;" type="submit" class="btn"  (click)="ShowReportParameters()" value = "Fuel Consumed">
                </div>
                <br><br><br>
                <div class="col-xs-6 col-md-3">
                    <input  style="background-color:white;font-family: Arial, Helvetica, sans-serif;border:1px solid #434343;color:#434343;cursor:pointer;font-weight: bold;width: 130px;" type="submit" class="btn"  (click)="ShowReportParameters()" value = "Idle Time">
                  </div>
                  <div class="col-xs-6 col-md-3">
                      <input  style="background-color:white;font-family: Arial, Helvetica, sans-serif;border:1px solid #434343;color:#434343;cursor:pointer;font-weight: bold;width: 130px;" type="submit" class="btn"  (click)="ShowReportParameters()" value = "Distance">
                    </div>
                    <br><br><br>
                    <div class="col-xs-6 col-md-3">
                        <input  style="background-color:white;font-family: Arial, Helvetica, sans-serif;border:1px solid #434343;color:#434343;cursor:pointer;font-weight: bold;width: 130px;" type="submit" class="btn"  (click)="ShowReportParameters()" value = "Number of cycle">
                      </div>
                      <div class="col-xs-6 col-md-3">
                          <input  style="background-color:white;font-family: Arial, Helvetica, sans-serif;border:1px solid #434343;color:#434343;cursor:pointer;font-weight: bold;width: 130px;" type="submit" class="btn"  (click)="ShowReportParameters()" value = "Tons/Cycle">
                        </div>
                        <br><br><br>
                        <div class="col-xs-6 col-md-3">
                            <input  style="background-color:white;font-family: Arial, Helvetica, sans-serif;border:1px solid #434343;color:#434343;cursor:pointer;font-weight: bold;width: 130px;" type="submit" class="btn"  (click)="ShowReportParameters()" value = "Machine Hours">
                          </div>

  </div>
  <br>
</div>

