
<!-- <div style="height: 100%;">
    <div id="container" class="container" style="background-color: #eee; padding: 15px;">
        <div class="header">
          <table>
            <tr>
              <td>
                <div class="header text">
                    <h3 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: #627890">CareTrack</h3>
                </div>
              </td>
              <td>
                <div class="header image" style="padding-left: 30%;">
                    <img src=".\assets\Images\volvo-logo.jpg" style="height: 75px; width: 120px" />        
                </div>
              </td>
            </tr>
          </table>
        </div>
    </div>
    <div style="overflow: auto;background: #627890;">
        <div style="text-align:center">
            <div style="text-align:center;color:white">
            <h3 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><b>Login</b></h3>
            </div>
        </div>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="well">
            <div class = "form-group" style="text-align:center;color:white">          
              <input style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" type = "text" formControlName= "CustomerId" class = "form-control" placeholder = "Enter Customer ID " ng-model = "">
            </div>
            <br>
            <div style="text-align:center;color:white">
              <input  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" type="submit" class="btn btn-primary" class="btn btn-primary" value = "Submit">
            </div>
            <br>
            <h3>{{message}}</h3>
        </form> 
    </div>
    <div>
        <h3 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;background-color: #eee; text-align: center; padding: 10px; margin-top: 7px; font-size: 12px; text-decoration-color: whitesmoke;"> © Copyrights AB Volvo 2018.<br/>
           Developed by V-Hackers .</h3><br/>   
    </div>
</div> -->
<div style="height: 470px;">
<div id="myCarousel" class="carousel slide" data-ride="carousel" >
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src=".\assets\Images\VCE.jpg" >    
      </div>
    </div>
</div>
<div>
    <div class="container text-center" style="background-color:#dce5e2; border-color:#dce5e2">
      <h4 style="font-family: Arial, Helvetica, sans-serif;color:#474747">Login</h4>      
    </div>
    <div>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="well">
            <div class = "form-group container text-center" style="text-align:center;color:white;width: 200px">          
              <input style="font-family: italic;" type = "text" formControlName= "CustomerId" class = "form-control" placeholder = "Enter Customer ID " ng-model = "">
            </div>
            <div style="text-align:center;">
              <input  style="background-color:white;font-family: Arial, Helvetica, sans-serif;border:2px solid #434343;color:#434343;cursor:pointer;font-weight: bold;" type="submit" class="btn" value = "Submit">
            </div>
        </form> 
    </div>
</div>
</div>
