<head>
    <title>CareTrack</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
    <style>
      .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }  

  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }          
  
.carousel-inner img {
    width: 100%; 
    margin: auto;
    min-height:200px;
}
    </style>      
</head>
<body style="background: rgba(237, 237, 237, 1)">
<nav class="navbar navbar-inverse" style="background-color: #627890; border-color:#627890">
    <div class="container-fluid">
        <div> 
          <div style="float: left;margin-right: 90px;"><a class="navbar-brand" style="color:#ffffff;font-size: 25px;line-height: 50px" href="#">caretrack</a></div>
          
          <div style="float: right;margin-right: -20px;"><img src=".\assets\Images\Volvo_logo.png"/></div>
        </div>
      </div>
</nav> 
    
<div>
    <router-outlet></router-outlet>
</div>
<footer class="container-fluid text-center" style="background-color:#627890; border-color:#627890">
  <p style="color:white;font-size:10px" >©Copyrights AB Volvo 2018.<br/>
          Developed by V-Hackers .</p>
</footer>

</body>


