<!-- <div style="height: 100%;">
    <div id="container" class="container" style="background-color: #eee; padding: 15px;">
        <div class="header">
          <table>
            <tr>
              <td>
                <div class="header text">
                    <h3 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: #627890">CareTrack</h3>
                </div>
              </td>
              <td>
                <div class="header image" style="padding-left: 20%;">
                    <img src=".\assets\Images\volvo-logo.jpg" style="height: 75px; width: 120px" />        
                </div>
              </td>
            </tr>
          </table>
        </div>
    </div>
    <div style="overflow: auto;background: #627890;">
        <div class="main" style="align-items: center;background: #627890">
            <button type="button" class="myButton" >Reports</button><br /><br />
             <button type="button" class="myButton" (click)="ShowMachineInformation()">Machine Information</button>             
         </div>   
    </div>
    <div>
        <h3 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;background-color: #eee; text-align: center; padding: 10px; margin-top: 7px; font-size: 12px; text-decoration-color: whitesmoke;"> © Copyrights AB Volvo 2018.<br/>
           Developed by V-Hackers .</h3><br/>   
    </div>
</div> -->
<div style="height: 470px;">
    <div class="container text-left" style="background-color:#dce5e2; border-color:#dce5e2 ;">
        <h4 style="font-family: Arial, Helvetica, sans-serif;color:#474747">welcome customer</h4>      
    </div>
    <div>      
        <br/>  <br/>
        <div style="text-align:center;">
            <input  style="background-color:white;font-family: Arial, Helvetica, sans-serif;border:1px solid #434343;color:#434343;cursor:pointer;font-weight: bold;width: 200px;" type="button" class="btn" (click)="ShowReportParameters()" value = "Reports">
            </div> 
            <br>
            <div style="text-align:center;">
                <input  style="background-color:white;font-family: Arial, Helvetica, sans-serif;border:1px solid #434343;color:#434343;cursor:pointer;font-weight: bold;width: 200px" type="button" (click)="ShowMachineInformation()" class="btn" value = "Machine Information">
            </div> 
    </div>
<br>
</div>

